@import "tailwindcss";

#root {
 @apply min-h-screen flex flex-col 
}

@theme {
  --font-roboto: Roboto Condensed, sans-serif;
  --color-haze: rgb(250, 171, 13);
  --color-haze-600: rgba(250, 171, 13, 0.6);
  --color-haze-200: rgba(250, 171, 13, 0.2);
  --color-file: rgb(251, 218, 126);
}

.nav-link {
  @apply border-b-2 py-4.5 px-6 hover:bg-(--color-haze-200) relative;
}

.hover-border {
  @apply hover:border-b-2 hover:border-(--color-haze) border-transparent;
}

.user-dropdown-btn {
  @apply ml-13 block w-[10px] h-[10px] opacity-80 bg-[url(src/svg/arrow-down.svg)] bg-no-repeat bg-center bg-cover cursor-pointer
}

.dropdown-block {
  @apply border border-gray-100 px-4 w-40 absolute bottom-[-45px] left-10 rounded-lg shadow-lg opacity-0 bg-white invisible group-hover:opacity-100 group-hover:visible
}

.dropdown-nav-block {
  @apply border border-gray-100 px-4 w-40 absolute left-[-40px] text-center rounded-lg shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible
}

.auth-btns {
  @apply px-1.5 min-w-[80px] py-1.5 bg-(--color-haze) rounded text-white cursor-pointer hover:bg-(--color-haze-600)
}